* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.mapa{
  display:flex;
  width: 78%;
  margin-left:300px;
  border:solid 4px #fff;
  -ms-zoom-animation: initial;
}